
:root {
    --main_day: rgba(92, 177, 208, 0.9);
    --header_day: rgba(105, 240, 238, 0.853);
    --main_night: rgba(35, 53, 78, 0.9);
    --header_night: rgba(31, 64, 143, 0.852);
    --day_image: url("../images/img2.avif");
    --night_mode_btn: rgba(51, 73, 101, 0.8);
    --day_mode_btn: rgb(112, 164, 89, 0.8);
    --day_two: linear-gradient(
        rgba(105, 240, 238, 0.3),
        rgba(105, 240, 238, 0.3)
      ), url("../images/Day.png");
    --night_two: url("../images/Night.jpg");
  }

  html {
    scroll-behavior: smooth;
  }
body{
    color: black;

    background-color: var(--main_day);
  }


nav ul{

    display: flex;
    flex-direction: row;

    list-style: none;
    align-items: center;
    justify-content: space-around;

    gap: 10px;

   
}
nav{

   



    width: 100%;
}

button:hover{
    transform: scale(110%);
}


nav ul li{
    border-radius: 30%;

    font-weight: bold;
    font-size: larger;
}






nav ul li:hover{

    transform: scale(120%);
    text-decoration: underline;
 
}

#portrait{

    height:auto;
    width: 25%;

    

    float: right;
}

main{
    max-width: 790px;
    min-height: 800px;
    margin: 0 auto;

    font-size: 1rem;
   
}



header{
 
    margin: 0% auto;
    
    background-color: var(--header_day);
    display: flex;
    flex-direction: column;
   position: sticky;
   top: 0%;
   width: 100%;
   
  z-index: 1;
}


#dark_mode{
    background-color: var(--header_day);
    border: none;
    border-radius: 40px;
    font-weight: bolder;
    color: black;
    text-decoration: underline;
    font-size: 30px;
    position: fixed;
    bottom: 14%;
    right: 2%;
    z-index: 1;
  

   
 


}
#main_heading {
    font-size: 100px;
     
}








#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;

   
    background-image: var(--day_image);
    background-size: cover;
  
}

.section{

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


h6,h5,h4,h3,h2,h1, nav ul li{

    font-family: "Playfair Display", "Times New Roman", serif;

    text-align: center;
}
@font-face {
    font-family: "Abril Fatface";
    src: url("AbrilFatface-Regular.ttf") format('truetype');
  }


.clear{

    clear: right;
}

#education{
   
    background-size: cover;
    
}



.clearBackground{

    background-image: none;

}

.dayBackGround1{
    background-image:  var(--day_two);
    background-repeat: repeat;
    background-color: rgb(39, 132, 155);
}

.nightBackGround1{

    background-image: var(--night_two);
    background-color: rgb(2, 2, 53);
}

#profile{
    display: flex;
    
    align-items: center;
   
}


.image_link:hover{

   
   transform: scale(110%);
}

.next-section{


margin-bottom: 0%;

background-color: rgba(5, 116, 207, 0);

border: none;
    
}

.next-section img{


    width: 20%;

    
}

#backtoTop{

    rotate: 180deg;
}

a {
    color: inherit;
  }



li a:hover{

    color: inherit;
}

a img{

    width: 100%;
}

.contacts a{

width: 7%;

}

.contacts{

    gap: 10px;

    justify-content: center;
}


@media screen and (max-width:576px) {

    :root{
        --header_green: rgba(112, 164, 89, 0);
        --header_night: rgba(98, 164, 211, 0);
    }

   
    
}

@media screen and (max-width:768px) {

   
    #main_heading {
        font-size: 70px;
         
    }
    
    
}
