
:root {
    --main_day:  rgba(92, 177, 208, 0.9);
    --header_day: rgba(105, 240, 238, 0.853);
    --main_night: rgba(35, 53, 78, 0.9);
    --header_night: rgba(31, 64, 143, 0.852);
    --day_image: linear-gradient( rgba(18, 99, 121, 0.264),
             rgba(49, 101, 111, 0.214)), url("./images/img2.avif");
    --night_mode_btn: rgba(51, 73, 101, 0.8);
    --day_mode_btn: rgb(112, 164, 89, 0.8);
    --day_two: linear-gradient(
        rgba(105, 240, 238, 0.3),
        rgba(105, 240, 238, 0.3)
      ), url("./images/Day.png");
    --night_two: url("./images/Night.jpg");

    --dark_mode_main: url("./images/dark_mode.jpg");

    --day_bg_2: rgb(39, 132, 155);

    --night_bg_2: rgb(2, 2, 53);

    --button_bg: rgba(48, 69, 104, 0.638);

    --day_text:black;
    --night_text:white;
  }

  html {
    scroll-behavior: smooth;
  }
body{
    color: var(--day_text);

    background-color: var(--main_day);
  }


nav ul{

    display: flex;
    flex-direction: row;

    list-style: none;
    align-items: center;
    justify-content: space-around;

    gap: 10px;

   
}
nav{

   



    width: 100%;
}

button:hover{
    transform: scale(110%);
}


nav ul li{
    border-radius: 30%;

    font-weight: bold;
    font-size: larger;
}






nav ul li:hover{

    transform: scale(120%);
    text-decoration: underline;
 
}

#portrait{

    height:auto;
    width: 20%;

    

    float: right;
}

main{
    
    
    margin: 0 auto;

    font-size: 1rem;
   
}

footer{

    background-color: var(--header_day);
}

.video_section{

    max-height: 150vh;
}
.transcript{

    overflow: scroll;
}
video{

    width: 15%;
    height: 50%;
}

.video_section{

    max-height: 110vh;
}

header{


 
    margin: 0% auto;
    
    background-color: var(--header_day);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0%;
    width: 100%;
   
  z-index: 1;
}


#dark_mode{
    background-color: var(--header_day);
    border: none;
    border-radius: 40px;
    font-weight: bolder;
    color: black;
    text-decoration: underline;
    font-size: 30px;
    position: fixed;
    bottom: 14%;
    right: 2%;
    z-index: 1;
  

   
 


}
#main_heading {
    font-size: 100px;
     
}








#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;

   
    background-image: var(--day_image);
    background-size: cover;
  
}

.section{

    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.section div{

    max-width: 1000px;
}
.section div h1{

    padding: 4%;
}


h6,h5,h4,h3,h2,h1, nav ul li{

    font-family: "Playfair Display", "Times New Roman", serif;

    text-align: center;
}
@font-face {
    font-family: "Abril Fatface";
    src: url("AbrilFatface-Regular.ttf") format('truetype');
  }


.clear{

    clear: right;
}





.clearBackground{

    background-image: none;

}

.dayBackGround1{
    background-image:  var(--day_two);
    background-repeat: repeat;
    background-color: var(--day_bg_2);
}

.nightBackGround1{

    background-image: var(--night_two);
    background-color: var(--night_bg_2);
}

#main-content{
    display: flex;
    
    align-items: center;
   
}


.image_link:hover{

   
   transform: scale(110%);
}

.next-section{

    background: none;
        
    margin-bottom: 0%;
    border: none;

    width: 8%;
   
}

.next-section img{

    
    width: 100%;

    
}

#backtoTop{

    rotate: 180deg;
}

a {
    color: inherit;
  }



li a:hover{

    color: inherit;
}

a img{

    width: 100%;
}

.contacts a{
   
    width: 7%;
    

    border-radius: 10px;

}

.contacts{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    justify-content: center;
}

#hamburgher{

    display: none;
  
    border: none;

    width: 50px;
    background-color:  var(--button_bg);
   
    border-radius: 20%;

}
#hamburgher img{

    width: 100%;

    

}

a:hover, button:hover{

    cursor: pointer;
}


.skip-navigation{

    position: absolute;

    left: -1000000px;
    top: -1000000px;
}


@media screen and (max-width:576px) {

    header{

        display: block;

        position: fixed;

        width: 100%;

        

        top:-300px;
        transition: all 0.5s ease;
    }
    .header_show{

        top:0px;

    }

    nav ul {

        display: flex;
        flex-direction: column;

        justify-content: space-between;
        height: 100%;

    }

    #hamburgher{
        display: flex;
        position: fixed;
        z-index: 2;
        align-items: center;
        top: 0;
        right: 0;
    }
   
    #dark_mode{
        font-size: 20px;


    }

    
    video{

        width: 40%;
    }
}



@media screen and (max-width:768px) {

   
    #main_heading {
        font-size: 70px;
         
    }
    
    #dark_mode{
        font-size: 25px;


    }


    video{

        width: 30%;
    }

    .next-section{


        margin-bottom: 0%;
        background: none;
        
        border: none;
        
        width: 15%;
            
        }
        
    .next-section img{
        
        
            width: 100%;
        
            

}}


